.product-view img[data-v-447e8c2b]{max-width:450px;max-height:450px;width:100%;object-fit:contain}.product-view h1[data-v-447e8c2b]{font-weight:700}.product-view button[data-v-447e8c2b]{min-width:120px}
